
#box{
    height: 65px;
    width: 65px;
    margin:1px;
    margin-bottom: 2px;
    font-size: 30px;
    border-color:  #F4EBD3;
border-radius: 1rex;
background-color: #F4EBD3;
    
}
#game{
    margin-top: 20px;
    margin-left:40% ;
    padding-top: 15px;
    height:45vmin;
    width: 40vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #1B3C53;
    background-color: #1B3C53;
    border-radius: 1rem;
}
  
body{
    background-color:#4682A9;

}
#but{
    /*margin-left: 100vmin;*/
    align-items: center;
    
}
#x1{
    margin-top: 20px;
    height: 30px;
    width: 80px;
     background-color: #232D3F;
    color: azure;
    border-radius: 1rex;
    border-color:white ;
}
.mssg
{
    text-align: center;
}
.hide
{
    display: none;
}
.msg
{
 
 font-size: 35px;
color: white;
 
}
#newb{
    height: 30px;
    width: 80px;
     background-color: black;
    color: azure;
    border-radius: 1rex;

}